@page
@model AccountManagementSystem.Pages.Accounts.SubSidiaries.IndexModel
@using AccountManagementSystem.Models.Accounts

@{
    ViewData["Title"] = "Sub-Sidiaries";
}

@section Css {
    <partial name="~/Pages/Shared/Datatable/Css.cshtml" />
    <style type="text/css">
    </style>
}

<div class="mt-4">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col m-auto"><p class="mb-0 fw-bold">@ViewData["Title"]</p></div>
                        <div class="col text-end">
                            <a asp-page="/Accounts/SubSidiaries/Create" class="btn btn-sm btn-primary"><i class="fa fa-plus me-1"></i>New</a>
                        </div>
                    </div>
                </div>
                <div id="main-content" class="card-body">
                    <div class="table-responsive">
                        <table data-toggle="datatables" class="table align-items-center table-hover table-striped table-bordered">
                            <thead class="thead-dark text-center">
                                <tr>
                                    <th class="no-search serial" style="width: 5%;">S/N</th>
                                    <th class="serial" style="width: 10%;">Code</th>
                                    <th style="width: 30%;">Sub-Sidiary Name</th>
                                    <th style="width: 10%;">Control Code</th>
                                    <th style="width: 30%;">Control Name</th>
                                    <th class="no-search print-hide action" style="width: 15%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;
                                }

                                @foreach (var item in Model.SubSidiaries)
                                {
                                    <tr>
                                        <td class="serial">@(++i)</td>
                                        <td class="text-start">@item.Code</td>
                                        <td class="text-start">@item.Name</td>
                                        <td class="text-start">@item.Control.Code</td>
                                        <td class="text-start"> @item.Control.Name</td>
                                        <td class="action print-hide text-end">
                                            <div class="btn-group gap-3">
                                                <a class="btn btn-sm btn-primary px-4 py-2 rounded" asp-page="Edit" asp-route-id="@item.Id">Edit</a>
                                                <form method="post" asp-page-handler="Delete" asp-route-id="@item.Id" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                    <button type="submit" class="btn btn-sm btn-danger px-3 py-2 rounded">Delete</button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function pop_print() {
            var style = `.table thead tr th div { height: auto !important; }`;
            pop_print_generic('.print-header', '.card-body .table-parent', style);
        }
    </script>
    <partial name="~/Pages/Shared/_Partial/_Print.cshtml" />
    <partial name="~/Pages/Shared/Datatable/DtBasic.cshtml" />
}