@page
@model AccountManagementSystem.Pages.UserModel
@{
}


<h2 class="text-center">Welcome To Your Account!</h2>

<div>	
	First Name: @Model.accUser?.FirstName
</div>
<div>	
	Last Name: @Model.accUser?.LastName
</div>
<div>	
	Email: @Model.accUser?.Email
</div>
<div>	
	Phone: @Model.accUser?.PhoneNumber
</div>
<div>	
	Address: @Model.accUser?.Address
</div>
<div>	
	Date of Birth: @Model.accUser?.DateOfBirth
</div>